.root {
  padding: 16px !important;
  min-width: 220px;
  width: 220px;
  flex-shrink: 0;
  height: fit-content;
  position: sticky;
  top: 80px;
}

.heading {
  font-weight: 700 !important;
  margin-bottom: 8px !important;
}

.divider {
  margin: 8px 0 !important;
}

.section {
  padding: 8px 0;
}

.label {
  font-weight: 600 !important;
  color: var(--dark);
  margin-bottom: 6px !important;
}

.priceRow {
  display: flex;
  gap: 8px;
}

.priceRow>* {
  flex: 1;
}