.root {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--bottom-text);
  border-radius: 8px;
  padding: 2px;
  width: fit-content;
}

.value {
  min-width: 28px;
  text-align: center;
  font-weight: 600 !important;
  font-size: 14px !important;
}