.settingsForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

.saveBtn {
    background: var(--dark) !important;
    width: fit-content;
}

/* Mobile */
@media (max-width: 599px) {

    .settingsForm {
        max-width: 100%;
    }

    .saveBtn {
        width: 100%;
    }
}