.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700 !important;
}

.icon {
  color: var(--dark);
}

.message {
  color: var(--bottom-text);
  margin-bottom: 24px !important;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.authBtn {
  background: var(--dark);
}